<app-centered-card title="Create cocktail form">
  <div class="error" *ngIf="error | async">{{ error | async}}</div>
  <form [formGroup]="newCocktailForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field appearance="outline" class="field">
      <mat-label>Title</mat-label>
      <input
        type="text"
        id="title"
        matInput
        formControlName="title"
      />
      <mat-error *ngIf="fieldHasError('title', 'required')">
        Title is required!
      </mat-error>
      <mat-error *ngIf="fieldHasError('title', 'minlength')">
        Title should be at least 2 characters!
      </mat-error>
    </mat-form-field>
    <div formArrayName="ingredients">
      <span><strong>Ingredients :</strong></span>
      <button
        type="button"
        mat-raised-button
        color="primary"
        style="margin: 0 0 20px 20px"
        (click)="addIngredient()"
      >Add ingredient
      </button>
      <div *ngFor="let ingredientControl of getIngredientsControls(); let i = index">
        <p>{{ i + 1 }}</p>
        <div [formArrayName]="i" fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field appearance="outline" class="field" fxFlex="48">
            <input
              type="text"
              id="ingTitle"
              matInput
              formControlName="ingTitle"
              placeholder="Ingredient title"
            />
            <mat-error
              *ngIf="ingredientsFieldHasError('ingTitle', i, 'required')"
            >
              Ingredient title is required!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="field" fxFlex="48">
            <input
              type="text"
              id="amount"
              matInput
              formControlName="amount"
              placeholder="Ingredient amount"
            />
            <mat-error
              *ngIf="ingredientsFieldHasError('amount', i, 'required')"
            >
              Ingredient amount is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Recipe</mat-label>
      <textarea
        id="recipe"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        formControlName="recipe"
      ></textarea>
      <mat-error *ngIf="fieldHasError('recipe', 'required')">
        Recipe is required!
      </mat-error>
      <mat-error *ngIf="fieldHasError('recipe', 'minlength')">
        Recipe should be at least 20 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="field">
      <mat-label>Image</mat-label>
      <app-file-input id="image" formControlName="image"></app-file-input>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="formIsInvalid() || (loading | async)"
    >
      Create
    </button>
  </form>
</app-centered-card>
