<div class="error" *ngIf="error | async">{{ error | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else cocktailCard"
></mat-progress-spinner>
<ng-template #cocktailCard>
  <mat-card fxFlex="50%">
    <mat-card-title-group>
      <mat-card-title>{{ (cocktail | async)?.title }}</mat-card-title>
      <mat-card-subtitle>
        <p>Ingredients:</p>
        <ul>
          <li *ngFor="let ingredient of (cocktail | async)?.ingredients">
            <span>{{ ingredient.ingTitle }} - {{ ingredient.amount }}</span>
          </li>
        </ul>
      </mat-card-subtitle>
      <img mat-card-xl-image [src]="(cocktail | async)?.image | image" [alt]="'Photo of ' +
        (cocktail | async)?.title">
    </mat-card-title-group>
    <mat-card-content>
      <p>Recipe:</p>
      <p>{{ (cocktail | async)?.recipe }}</p>
    </mat-card-content>
  </mat-card>
</ng-template>
