<div class="error" *ngIf="error | async">{{ error | async}}</div>
<div class="error" *ngIf="removeError | async">{{ removeError | async}}</div>
<mat-progress-spinner
  *ngIf="(loading | async) else userCocktailsCards"
></mat-progress-spinner>
<div *ngIf="(cocktails | async)?.length === 0" class="messageDiv">No cocktails</div>
<ng-template #userCocktailsCards>
  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex="25%" *ngFor="let cocktail of (cocktails | async)">
      <mat-card class="card">
        <a [routerLink]="['/cocktail/', cocktail.id]">
          <mat-card-title>{{ cocktail.title }}</mat-card-title>
          <img [src]="cocktail.image | image" [alt]="'Photo of ' + cocktail.title"
               style="max-width: 100%">
        </a>
        <p *ngIf="!cocktail.is_published; else published" class="is-published">Not published</p>
        <ng-template #published>
          <p class="is-published">Published</p>
        </ng-template>
        <mat-card-footer class="footer">
          <button
            mat-mini-fab
            color="accent"
            *appHasRoles="['Admin']"
            (click)="onRemove(cocktail.id)"
            [disabled]="removeLoading |async"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</ng-template>





