/* You can add global styles to this file, and also import other style files */
.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

.field
  margin-bottom: 15px

.card
  text-align: center

.card img
  height: 200px

.card a
  color: inherit
  text-decoration: none

body
  background-color: #a19ca1

.is-published
  color: #ff0cb9
  font-size: 15px

.footer
  padding-bottom: 10px

.messageDiv
  background-color: #ff0cb9
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

